.page-container{
    height: 800px;
    overflow: auto;
}


@media screen and (max-width: 1580px) {
    .page-container{
        height: 600px;
        overflow: auto;
        /* background: red; */
    }
}

@media screen and (max-width: 1280px) {
    .page-container{
        height: 500px;
        overflow: auto;
    }
}

@media screen and (max-width: 1080px) {
    .page-container{
        height: 500px;
        overflow: auto;
    }
}

/* .header {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 5em;
}

.card-spacing {
    margin-top: 2em;
    margin-bottom: 5em;
}

hr {
    border: 0;
    height: 1em;
    background: #333;
    background-image: linear-gradient(to right, #72B8AA, #56889A, #72B8AA);
    width: 90%;
}

.title-spacing {
    margin-top: 3em ;
    margin-bottom: 3em ;
}

.mtop {
    margin-bottom: 1em;
    
} */


/*body {
     background-color: aqua !important;
 }*/