
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Nunito", sans-serif;
}
.navbar{
    background: #0296be !important;
}

.navbar-brand{
    background: #fff !important;
    padding: 10px;
    border-radius: 7px;
}

a.nav-link.active.border-bottom {
    border-bottom: 2px solid #0296be !important;
}

.banner-text{
    color: #0296be;
}

.btn-primary{
    background: #0296be !important;
}

.create-button{
    background: #312065 !important;
}

.title{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

.text-primary{
    color: #0296be;
}

.navbar-toggler{
    margin-right: 5px;
}

.desk-create{
    margin-top: 10px;
    position:fixed;
    right: 150px;
    display: block;
}

.desk-create-btn{
    background: #0296be !important;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
}

.navbar-nav{
    margin-left: 10px;
}

/* .create {
    position: fixed;
    bottom: 20px;
    right: 20px;
/* } */




.mob-create{
    display: none;
}

.desk-vac-btn{
    background: #0296be !important;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.bgcard{
    background: #0296be !important;
}


@media only screen and (max-width: 767px) {
    .form-control{
        width: 100%;
    }
    .navbar-brand{
        margin-left: 5px;
    }
    .navbar-nav{
        margin-left: 10px;
    }
    .mob-create{
        display: block;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    .desk-create{
        display: none;
    }

    
    
}